@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
  padding-top: 100px;
  background-color: #5481bb;
  font-family: Share Tech Mono, sans;
  font-size: 30px;
}

.container {
  padding: 1px;
  display: flex;
  width: 460px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'display display display display'
    'clear backspace divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.padButton:hover {
  border: 1px solid white;
  color: white;
}

.dark-grey {
  background-color: #2c2c2c;
}

.red {
  background-color: #e01414;
}

.blue {
  background-color: #1919d4;
}

.green {
  background-color: #31af25;
}

.display {
  padding-top: 10px;
  grid-area: display;
  background-color: black;
  text-align: right;
}

.answer {
  padding: 5px 20px;
  color: #f6f345;
  font-size: 36px;
  width: 456px;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}

.button {
  position: relative;
  color: white;
  transition-duration: 0.3s;
  overflow: hidden;
}

.button:after {
  content: '';
  background-color: #5e3c74;
  position: absolute;
  padding-top: 500%;
  padding-left: 500%;
  opacity: 0;
  transition: all 0.3s;
}

.button:active:after {
  opacity: 0.4;
  transition: 0s;
}
